<!DOCTYPE html>
<html lang="en" ng-app="faithcanon">
<head>
  <meta charset="utf-8" />
  <title>FaithCanon | <%=last_name%> <%=first_name%></title>  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="<%=baseURL%>/libs/assets/animate.css/animate.css" type="text/css" />
  <link rel="stylesheet" href="<%=baseURL%>/libs/assets/font-awesome/css/font-awesome.css" type="text/css" />
  <link rel="stylesheet" href="<%=baseURL%>/libs/jquery/waves/dist/waves.css" type="text/css" />
  <link rel="stylesheet" href="<%=baseURL%>/styles/material-design-icons.css" type="text/css" />

  <link rel="stylesheet" href="<%=baseURL%>/libs/jquery/bootstrap/dist/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="<%=baseURL%>/styles/font.css" type="text/css" />
  <link rel="stylesheet" href="<%=baseURL%>/styles/app.css" type="text/css" />
  
  <script src="<%=baseURL%>/libs/jquery/jquery/dist/jquery.js"></script>
  <script src="<%=baseURL%>/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
  <script src="<%=baseURL%>/exif-js/exif.js"></script>  
  <script src="<%=baseURL%>/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
  <script src="<%=baseURL%>/ng-file-upload/dist/ng-file-upload.min.js"></script>
  <script src="<%=baseURL%>/socket.io/socket.io.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAKBAYuIAVEauuDxN7h5gV4GOIaTbn8nY&libraries=places"
         async defer></script>
  <script type="text/javascript" src="<%=baseURL%>/js/user.js"></script>      
</head>