<% include user.header.ejs %>
<body ng-controller="FcMainController">
<div class="app">
  <!-- aside -->
  <aside id="aside" class="app-aside modal fade folded" role="menu">
    <% include user.nav.ejs %>
  </aside>  
  <!-- / aside -->
  <!-- content -->
  <div id="content" class="app-content" role="main">
    <div class="box">
    <!-- Content Navbar -->
    <% include user.top.nav.ejs %>
    <!-- Content -->

      <div class="box-row">
        <div class="box-cell">
          <div class="box-inner padding">
              
  </style>
  <div class="row">
    <div class="col-lg-7 col-md-6 col-sm-6">
      <div class="row no-gutter">
        <div class="col-xs-12">
          <div class="card">
            <div id="post_wrapper" style="position: relative;z-index: 1;">
             <form>
              <textarea id="userPostText" class="form-control no-border p-md" rows="1" placeholder="Write something..."></textarea>           
              <div class="lt p">
                <button md-ink-ripple class="md-btn md-raised pull-right p-h-md blue" ng-click="user_post()">Post</button>
                <ul class="nav nav-pills nav-sm">                
                  <li><a ngf-select="add_image($files, $invalidFiles)" id="add_image" accept="image/*" ngf-max-size="10MB"><i class="fa fa-camera"></i></a><span class='image_file'></span></li>
                  <li><a ngf-select="add_video($files, $invalidFiles)" id="add_video" accept="video/mp4,video/avi,video/mpeg,video/x-m4v,video/*" ngf-max-size="100MB"><i class="fa fa-video-camera"></i></a><span class='video_file'></span></li>                  
                </ul>                                
              </div>
             </form>
            </div>
             <div id="post_progress_bar" class="progress progress-striped active" style="display:none;position: absolute;top: 0px;z-index: 2;background: #e9e9e980;width: 100%;height: 100%;">
               <div id="dvProgress" class="progress-bar progress-bar-info"  style="height: 20px;width: 0%;margin-top: 10%;" >0%</div>               
             </div>
          </div>
        </div>        
      </div>
      <div id="user_wall" class="user_wall_angular" style="display:none;">
        <div class="row row-sm" ng-repeat="row in rows_post">
          <div class="col-sm-12" id="post_{{ row._id }}">
              <div class="card" style="margin-bottom:0px;">
                <div class="card-heading">
                  <a href class="pull-left w-32 m-r" data-id="{{ row.user_id._id }}" ng-click="show_profile($event)">
                    <img ng-src="<%=baseURL%>/{{ row.user_id.profile_image_url ? row.user_id.profile_image_url : 'images/user.default.jpg' }}" class="w-full img-circle">
                  </a>
                  <div class="clear">
                    <a data-id="{{ row.user_id._id }}" ng-click="show_profile($event)" href class="font-bold block">{{ row.user_id.last_name }} {{ row.user_id.first_name }}</a>
                    <div class="text-xxs font-thin text-muted">{{ row.added_on }} ago</div>
                  </div>
                  <div class="card-tools">
                    <ul class="list-inline">
                      <li class="dropdown" ng-if="row.user_id._id == _id">
                        <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                          <i class="mdi-navigation-more-vert text-md"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                          <li><a href data-id="{{ row._id }}" ng-click="post_delete($event)">Delete</a></li>
                          <!-- <li><a href>Another action</a></li> -->
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="item" style="text-align:center;">                
                  <img ng-if="row.post_content[0].image" ng-src="<%=baseURL%>/{{ row.post_content[0].image }}" style="max-height:350px;width: auto;max-width:100%;display:none;" image-loader alt="">
                  <span ng-if="row.post_content[0].image" class="loading"> 
                    <i  class="fa fa-spinner fa-spin fa-3x fa-fw"></i> <span class="sr-only">Loading...</span>
                  </span>
                  <video ng-if="row.post_content[0].video" video-loader controls style="max-height:350px;width: auto;display:none;" alt="">
                    <source src="" dynamic-url dynamic-url-src="<%=baseURL%>/{{ row.post_content[0].video }}" spinner-on-load></source>                  
                  </video>              
                  <span ng-if="row.post_content[0].video" class="loading"> 
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><span class="sr-only">Loading...</span>
                  </div>
                <div class="card-body">                
                  <small ng-if="row.post_content[0].text!==undefined" style="font-size:{{row.post_content[0].text.length < 120 ? '14pt' : '11pt'}};">
                    {{ row.post_content[0].text }}
                  </small>
                  <small ng-if="row.post_content[0].text==undefined"><span>&nbsp;</span></small>
                  <div class="m-t-sm pull-right text-info">
                    <a href class="text-sm text-muted" style="margin-right: 12px;"><span >Like ( {{ row.post_likes.length }} ) </span>
                      <i ng-if="value_exists(row.post_likes, _id)" class="fa fa-2x text-info fa-thumbs-up" data-id="{{ row._id }}" ng-click="post_like($event)"></i>
                      <i ng-if="!value_exists(row.post_likes, _id)" class="fa fa-2x text-info fa-thumbs-o-up" data-id="{{ row._id }}" ng-click="post_like($event)"></i>
                      </a>
                    <a href class="text-sm text-muted fc-comments"><span ng-click="showComments = !showComments" >Comment ( {{ row.post_comments.length }} )</span>
                      <i ng-if="value_exists(row.post_comments, _id)" class="fa fa-2x text-info fa-comments" data-id="{{ row._id }}" ng-click="showComments = !showComments"  ></i>
                      <i ng-if="!value_exists(row.post_comments, _id)" class="fa fa-2x text-info fa-comments-o" data-id="{{ row._id }}" ng-click="showComments = !showComments" ></i></a>
                  </div>
                  <div class="clear" style="width:100%;clear:both;"></div>
                </div>
              </div>
              <!-- <div class="" ng-show="showlikes">likes will come here </div> -->
              <div class="post_comment_wapper" ng-show="showComments" style="margin-top: 2px">  
                <div class="row no-gutter" ng-repeat="comment in row.post_comments">
                  <div class="card" style="margin-bottom:1px;">
                    <div class="card-heading" style="padding:4px 24px;">
                      <a href class="pull-left w-32 m-r" data-id="{{ comment.user_id._id }}" ng-click="show_profile($event)">
                        <img ng-src="<%=baseURL%>/{{ comment.user_id.profile_image_url ? comment.user_id.profile_image_url : 'images/user.default.jpg' }}" class="w-full img-circle">
                      </a>
                      <div class="clear">
                        <a data-id="{{ comment.user_id._id }}" ng-click="show_profile($event)" href class="block">{{ comment.user_id.last_name }} {{ comment.user_id.first_name }}</a>
                        <div class="text-xxs font-thin text-muted">{{ comment.commented_on }} ago</div>
                      </div>
                      <div class="card-tools">
                        <ul class="list-inline">
                          <li class="dropdown" ng-if="comment.user_id._id == _id">
                            <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                              <i class="mdi-navigation-more-vert text-md"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                              <li><a href data-id="{{ row._id }}" data-cid="{{ comment.comment_id }}" ng-click="comment_delete($event)">Delete</a></li>                            
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body" style="padding:6px 24px;">
                      <p>{{ comment.text }}</p>
                    </div>
                  </div>
                </div>          
                <form style="background:white;position: relative;z-index: 1;">
                <textarea class="form-control no-border p-md post_comment_text" rows="1" placeholder="Write comment..."></textarea>           
                <div class="lt p" style="padding:4px 16px;">
                  <button md-ink-ripple data-id="{{ row._id }}" class="md-btn md-raised pull-right p-h-md blue" ng-click="post_comment($event)">Comment</button>
                </div>
                <div class="lt" style="clear:both;padding:4px;"></div>
               </form> 
               <div class="progress active" style="display:none;position: absolute;top: 0px;z-index: 2;background: #e9e9e980;width: 100%;height: 100%;">
                 <div class="dvProgress progress-bar progress-bar-info"  style="display:none;height: 20px;width: 0%;position:relative;top:50%;" >successfully submitted</div>               
               </div>             
              </div> 

              <div style="margin-bottom:24px;width:100%;" class="spacer"></div>
          </div>         
        </div> 
        <div style="margin-bottom:10px;">
          <div style="display:none;text-align:center;" class="loading w-full"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>          
          <button md-ink-ripple class="btn btn-fw btn-default w-full" ng-click="get_new_post($event)">Load More Post</button>
        </div>        
      </div>     
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4">
      
      <div class="card">
        <div class="card-heading">
          <h2>Activities</h2>          
        </div>
        <div class="card-body" id="user-activities" style="display:none;">
          <div class="streamline b-l b-accent m-b">
            <div class="sl-item" ng-repeat="row in rows">
              <div class="sl-content">
                <div class="text-muted-dk">{{row.activity_log_time | date:'MMM d, hh:mm a' }}</div>
                <p>{{ row.activity_descriptor }}</p>
              </div>
            </div>                        
          </div>
        </div>
      </div>
      <!-- <div class="card blue">
        <div class="card-heading">
          <h2 class="font-thin">My Friends</h2>
          <small>Follow your favorites</small>
        </div>
        <div class="card-tools">
          <ul class="list-inline">
            <li class="dropdown">
              <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                <i class="mdi-navigation-more-vert text-md"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                <li><a href>Action</a></li>
                <li><a href>Another action</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="card-divider"></div>
        <div class="card-body">
          <a href class="m-r-xs inline">
            <img src="/images/a4.jpg" class="w-40 img-circle">
          </a>
          <a href class="m-r-xs inline">
            <img src="/images/a5.jpg" class="w-40 img-circle">
          </a>
          <a href class="m-r-xs inline">
            <img src="/images/a6.jpg" class="w-40 img-circle">
          </a>
          <a class="btn btn-rounded btn-info">99+</a>
        </div>
      </div> -->
    </div>
    <div class="col-md-2 col-sm-2" style="position: fixed;right: 5px;">
      <h4 class="m-l">Connected</h4>
      <ul class="list-group no-bg no-borders pull-in" id="fr_list" style="display:none">
        <li class="list-group-item clearfix" data-toggle="modal" data-target="#chat" data-dismiss="modal" ng-repeat="row in rows_fr_profiles">
          <a herf="" class="pull-left w-40 m-r">
            <img ng-src="<%=baseURL%>/{{ row.profile_image_url ? row.profile_image_url :  'images/user.default.jpg'  }}" alt="{{ row.last_name }} {{ row.first_name }}" class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="" class="text-xs">{{ row.last_name }}  {{ row.first_name }}</a></div>
            <small class="text-muted-dk text-xxs">Added : {{ row.added_on }} ago</small>
          </div>
        </li>        
      </ul>
    </div>
  </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / content -->

<% include user.footer.ejs %>